html {
  font-family: 'Cormorant';
  color: rgb(21, 22, 24);
  font-weight: 300;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #151618;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title,
.menu-list,
.menu-contacts,
.collections,
.explore,
.card,
.clients-feedback,
.review,
.tea-blog,
.blog-content,
.card-content,
.card-title,
.know-content,
.know-form,
.priorities-content,
.priority,
.fig-title,
.footer-left01,
.footer-left02,
.lists,
.ftr-quote,
.footer-right01,
.footer-right02,
.request,
.contacts-links,
.touch {
  display: flex;
  flex-direction: column;
}

.header,
.nav-menu,
.menu-ftr-icons,
.contacts,
.person,
.collection,
.reviews,
.blog-cards,
.read,
.know-container,
.input,
.check,
.priorities-container,
.fig-part,
.footer-content,
.footer-left,
.footer-right,
.link,
.social,
.pay,
.pay-icons,
.pay-sistems {
  display: flex;
  justify-content: space-between;
}

.header, .contacts {
  align-items: center;
}

.header,
.review-text, 
.author,
.sign,
.button, 
.input-btn,
.know-text, 
.email-field,
.label-text,
.priority-caption,
.priority-sign,
.lists,
.quote-style,
.quote-sign,
.request-text,
.contact-text,
.copy {
  font-family: 'Open sans';
}

.header {
  width: 100%;
  height: 142px; 
  margin: 30px 0;
}

.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 18px;
  background-image: url(../Tea-img/burger.svg);
  border: none;
  padding: 0;
  margin-right: 75px;
  cursor: pointer;
  z-index: 9;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 60px;
  width: 360px;
  height: 691px;
  background-color: #fff;
  text-align: center;
  z-index: 10;
}

.menu-list {
  gap: 30px;
  font-size: 24px;
  line-height: 29.06px;
  list-style: none;
  padding: 60px 0;
  margin: 0;
}

.menu-line {
  width: 300px;
  height: 1px;
  border: 1px solid #f7f2e2;
  margin: 0 auto;
}

.menu-contacts {
  gap: 35px;
  font-size: 13px;
  line-height: 17.7px;
  padding: 60px 0;
}

.menu-ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #F7F2EA;
}

.menu-ftr-icons {
  width: 200px;
}

.menu-exit {
  position: fixed;
  display: block;
  top: 20px;
  left: 380px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../Tea-img/exit.png);
  background-size: cover;
  border: none;
  cursor: pointer;
  z-index: 12;
}

.menu.opened {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.overlay.active {
  display: block;
}

.logo {
  width: 73.2px;
  height: 105px;
  background-image: url(../Tea-img/logo.svg);
  margin-top: -40px;
}

.nav {
  display: block;
  width: 582px;
}

.nav-menu {
  width: 100%;
  height: 27px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
}

.main {
  width: 100%;
}

.contacts {
  width: 15%;
  height: 29px;
}

.person {
  width: 58px;
  height: 100%;
  align-items: start;
}

.bag, 
.man, 
.search {
  height: 22px;
}

.bag {
  width: 20px;
  background-image: url(../Tea-img/bag-icon.svg);
}

.man {
  width: 18px;
  background-image: url(../Tea-img/man-icon.svg);
}

.search {
  width: 22px;
  background-image: url(../Tea-img/loupe-icon.svg);
}

.banner, .title {
  position: relative;;
}

.banner {
  width: 100%;
  height: 500px;
  background: url(../Tea-img/baner.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.title,
.lists,
.ftr-quote,
.request,
.contacts-links {
  gap: 20px;
}

.title {
  padding: 254px 0 0 0;
  z-index: 2;
}

.h1-caption {
  width: 800px;
  height: 120px;
}

.h3-caption {
  width: 570px;
  height: 58px;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 0; 
}

h1, h3 {
  color: #fff;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  line-height: 48.44px;
}

h3,
.fig-caption,
.card-caption,
.list-caption {
  font-size: 24px;
  line-height: 29.06px;
}

.collections {
  gap: 150px;
  padding: 150px 0;
}

.quote {
  position: relative;
  width: 745px;
  font-size: 40px;
  line-height: 48.44px;
  font-style: italic;
  text-align: center;  
  margin: 0 auto;
}

.quote-text {
  position: relative;
  z-index: 2;
}

.text-back {
  position: absolute;
  left: 400px;
  top: 48px;
  width: 390px;
  height: 61px;
  background-color: #F7F2EA;
  opacity: 50%;
  z-index: 1;
}

.explore,
.clients-feedback,
.tea-blog,
.priorities-content {
  gap: 60px;
}

.explore {
  text-align: center;
}

.collection {
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 208px;
  height: 247px;
  justify-content: space-between;
  margin: 0;
}

.tea-variety {
  width: 100%;
  height: 208px;
}

.tea-img1 {
  background-image: url(../Tea-img/black-tea.png);
}

.tea-img2 {
  background-image: url(../Tea-img/green-tea.png);
}

.tea-img3 {
  background-image: url(../Tea-img/white-tea.png);
}

.tea-img4 {
  background-image: url(../Tea-img/oolong-tea.png);
}

.tea-img5 {
  background-image: url(../Tea-img/puerh-tea.png);
}

.feedback {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: rgba(247, 242, 234, 0.5);
}

.reviews {
  width: 100%;
  justify-content: center;
  gap: 26px; 
  flex-wrap: wrap;
}

.review {
  width: 280px;
  gap: 10px;
}

.review-text, .author {
  text-align: left;
}

.review-text {
  font-size: 16px;
  font-style: italic;
  line-height: 21.79px;
}

.author,
.button,
.know-text,
.email-field,
.input-btn {
  font-size: 20px;
}

.author {
  font-style: normal;
  line-height: 27.24px;
  font-weight: 600;
}

.blog {
   padding: calc(120px + 30 * (100vw - 768px) / 1104) 0;
}

.tea-blog {
  text-align: center;
}

.blog-content {
  gap: 40px;
}

.blog-cards {
  width: 100%;
};

.block-space {
  margin-bottom: 40px;
}

.blog-card {
  display: flex;
  width: 542px;
  height: 180px;
}

.card-img {
  width: 270px;
  height: 100%;
}

.img1 {
  background-image: url(../Tea-img/tea-time.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: url(../Tea-img/tea-rific.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background-image: url(../Tea-img/tea-role.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background-image: url(../Tea-img/tea-effects.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  width: 272px;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  padding-left: 20px;
}

.card-title {
  width: 255px;
  gap: 10px;
}

.card-caption {
  width: 100%;
  font-weight: 400;
}

.sign {
  font-size: 13px;
  line-height: 17.7px;
  color: #000;
}

.read {
  width: 43px;
  height: 18px;
  align-items: center;
}

.read-icon {
  width: 5px;
  height: 10px;
  background-image: url(../Tea-img/read-icon.svg);
}

.blog-button, .form-btn {
  border: 1px;
  border-color: #151618; 
}

.blog-button {
  margin: 0 auto;
}

.button, .input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 27.24px;
  color: #000;
  background-color: #fff;
}

.button {
  width: 149px;
  height: 51px;
}

.know-more {
  position: relative;
  width: 100%;
  height: 418px;
  box-sizing: border-box;
  padding: 100px 0;
  background: rgba(247, 242, 234, 0.5);
  z-index: 1;
}

.tea-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 673.72px;
  height: 418px;
  z-index: 2;
}

.know-content {
  gap: 50px;
}

.know-text, .know-form {
  width: 580px;
  gap: 12px;
}

.know-text, .email-field {
  line-height: 30px;
}

.input {
  width: 100%;
  height: 50px;
}

.email-field {
  width: 439px;
  background: none;
  color: #B8B58B;
  border-left: none;
  border-top: none;
  border-right: none;
  border-width: 2px;
  border-color: #b8b58b;
}

.input-btn {
  position: relative;
  width: 116px;
  height: 50px;
  z-index: 3;
}

.check {
  width: 580px;
  gap: 10px;
}

.check-field {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.label-text {
  font-size: 13px;
  line-height: 17.7px;
  text-align: left;
}

.priorities {
  padding: 150px 0;
}

.priorities-content {
  text-align: center;
}

.priorities-container {
  width: 100%;
  gap: 50px;
}

.fig-part {
  gap: 50px;
}

.priority {
  gap: 39.76px;
}

.card01, .card02, .card03, .card04 {
  height: 100%;
  margin: 0;
}

.card01 {
  width: 248px;
}

.card02 {
  width: 257px;
}

.card03 {
  width: 294px;
}

.card04 {
  width: 253px;
}

.fig-title {
  width: 100%;
  gap: 10px;
  text-align: center;
}

.priority-caption {
  font-size: 30px;
  line-height: 40.85px;
}

.priority-sign {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
}

.priority-icon {
  width: 65px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
}

.icon01 {
  background-image: url(../Tea-img/priority-icon1.svg);
}

.icon02 {
  background-image: url(../Tea-img/priority-icon2.svg);
}

.icon03 {
  background-image: url(../Tea-img/priority-icon3.svg);
}

.icon04 {
  background-image: url(../Tea-img/priority-icon4.svg);
}

.footer {
  width: 100%;
  padding-top: 100px;
  background: rgba(247, 242, 234, 0.5);
}

.footer-left {
  width: 38.75%;
  margin-bottom: 100px;
}

.footer-left01,
.footer-left02,
.footer-right01,
.footer-right02 {
  gap: 50px; 
}

.footer-left01 {
  width: 97px;
}

.footer-left02 {
  width: 155px;
}

.footer-right {
  width: 580px;
}

.footer-right01 {
  width: 269px;
}

.footer-right02 {
  width: 270px;
} 

.lists {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fish {
  display: block;
  color: rgba(247, 242, 234, 0.5);
}

.ftr-quote {
  width: 260px;
  text-align: left;
}

.quote-style {
  font-size: 16px;
  line-height: 21.79px;
  font-style: italic;
  margin: 0;
}

.quote-sign {
  width: 129px;
  font-style: normal;
  font-size: 12px;
  line-height: 16.34px;
}

.request {
  width: 100%;
}

.request-text {
  font-size: 13px;
  line-height: 17.7px;
}

.our-contacts {
  display: flex;
  gap: 40px;
}

.footer-logo {
  width: 60px;
  height: 91px;
  background-image: url(../Tea-img/logo.svg);
  background-repeat: no-repeat ;
  background-size: cover;
}

.contacts-links {
  width: 136px;
  padding-top: 20px;
}

.link {
  width: 100%;
  gap: 10px;
}

.post {
  width: 22.16px;
  height: 16px;
  background-image: url(../Tea-img/post-icon.svg);
}

.contact-text {
  font-size: 13px;
  line-height: 17.7px;
}

.phone {
  width: 20.81px;
  height: 20.81px;
  background-image: url(../Tea-img/email-icon..svg);
}

.touch {
  width: 100%;
  gap: 40px;
}

.social {
  width: 150px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 97px;
}

.social-480 {
  display: none;
}

.fb {
  width: 22px;
  height: 22px;
  background-image: url(../Tea-img/fb-icon.svg);
}

.ytube {
  width: 24px;
  height: 18px;
  background-image: url(../Tea-img/yt-icon.svg);
}

.inst {
  width: 22px;
  height: 22px;
  background-image: url(../Tea-img/inst-icon.svg);
}

.tw {
  width: 22px;
  height: 18px;
  background-image: url(../Tea-img/tw-icon.svg);
}

.pay {
  width: 118px;
  align-items: center;
}

.copy {
  font-size: 16px;
  line-height: 21.79px;
}

.pay-sistems {
  width: 466px;
  margin-bottom: 18px;
}

.pay-icons {
  width: 156px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.pay-links {
  cursor: pointer;
}

.master {
  width: 26px;
  height: 20px;
  background-image: url(../Tea-img/mastercard-icon.png);
}

.visa {
  width: 31px;
  height: 10px;
  background-image: url(../Tea-img/visa-icon.svg);
}

.google-pay {
  width: 29px;
  height: 12px;
  background-image: url(../Tea-img/google-pay.png);
}

.paypal {
  width: 10px;
  height: 12px;
  background-image: url(../Tea-img/paypal-icon.png);
}

/*----------------------Адаптивы--------------------------*/

@media (max-width: 1599px) {

  .container {
    width: calc(640px + 560 * (100vw - 768px) / 831); 
  }

  .nav {
    width: calc(352px + 230 * (100vw - 768px) / 831);
  } 
  
  .h1-caption {
    width: calc(684px + 116 * (100vw - 768px) / 831);
  }

  .collections {
    gap: calc(120px + 30 * (100vw - 768px) / 831);
    padding: calc(120px + 30 * (100vw - 768px) / 831) 0;
  }

  .quote {
    width: calc(640px + 105 * (100vw - 768px) / 831);
    font-size: calc(36px + 4 * (100vw - 768px) / 831);
  }

  .text-back {
    left: calc(360px + 40 * (100vw - 768px) / 831);
    width: calc(280px + 110 * (100vw - 768px) / 831);
  }
  
  .collection {
    justify-content: center;
  }

  .blog {
    padding: calc(120px + 30 * (100vw - 768px) / 831) 0;
  }

  .blog-content {
    gap: 30px;
  }

  .blog-cards {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .item {
    align-self: flex-end;
  }

  .know-more {
    height: 525px;
    padding: 60px 0;
  }

  .know-content {
    gap: 60px;
    text-align: center;
  }

  .know-container {
    flex-direction: column;
    gap: 60px;
  }

  .know-text, .know-form {
    margin: 0 auto;
  }

  .know-text {
    width: 640px;
  }

  .priorities {
    padding: 120px 0;
  }

  .priorities-content {
    padding: 0 calc(0px + 200 * (100vw - 768px) / 831);
  }

  .priorities-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer {
    padding-top: calc(50px + 50 * (100vw - 768px) / 831);
  }

  .footer-content {
    justify-content: center;
    gap: calc(50px + 100 * (100vw - 1141px) / 458);
  }

  .footer-right {
    justify-content: flex-end;
    gap: 20px;
  }

  .pay-sistems {
    width: calc(305px + 161 * (100vw - 768px) / 831);
  }
}

@media (max-width: 1141px) {

  .clients-feedback {
    padding: calc(0px + 55 * (100vw - 768px) / 373);
  }

  .reviews {
    justify-content: space-between;
  }

  .footer-left {
    width: 80%;
  }

  .footer-right {
    flex-direction: column;
    align-items: end;
    gap: 50px;
  } 

  .fish {
    display: none;
  }
}

@media (max-width: 767px) {

  .container {
    width: calc(460px + 180 * (100vw - 480px) / 287); 
  }

  .header {
    height: calc(56px + 49 * (100vw - 480px) / 287);
    margin: calc(10px + 20 * (100vw - 480px) / 287) 0;
  }

  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .logo {
    width: calc(39px + 34 * (100vw - 480px) / 287);
    height: calc(56px + 49 * (100vw - 480px) / 287);
    background-size: contain;
    margin-top: 0;
  }

  .contacts {
    width: 130px;
  }

  .title {
    padding: calc(276px - 45 * (100vw - 480px) / 287) 0 0 0;
}

 .h1-caption, .h3-caption {
    margin-left: calc(0px - 22 * (100vw - 480px) / 287);
  }

  .h1-caption {
    width: calc(450px + 234 * (100vw - 480px) / 287);
    height: calc(96px + 24 * (100vw - 480px) / 287);
  }

  .h3-caption {
    width: 100%;
  }

  h1 {
    font-size: calc(40px + 20 * (100vw - 480px) / 287);
    line-height: calc(48.44px + 11.56 * (100vw - 480px) / 287);
  }

  h3 {
    font-size: 23px;
  }

  .collections {
    gap: calc(60px + 60 * (100vw - 480px) / 287);
    padding: calc(60px + 60 * (100vw - 480px) / 287) 0;
  }

  .quote {
    width: calc(376px + 264 * (100vw - 480px) / 287);
    font-size: calc(16px + 20 * (100vw - 480px) / 287);
    line-height: calc(20.09px + 28.35 * (100vw - 480px) / 287);
  }

  .text-back {
    top: calc(22px + 26 * (100vw - 480px) / 287);
    left: calc(176px + 184 * (100vw - 480px) / 287);
    width: calc(118px + 162 * (100vw - 480px) / 287);
    height: calc(22px + 39 * (100vw - 480px) / 287);
  }

  .explore {
    gap: 30px;
  }

  .feedback {
    padding: 50px 0;
  }

  .clients-feedback {
    gap: 50px;
  }

  .review {
    width: 47%;
  }

  .blog {
    padding: calc(60px + 60 * (100vw - 480px) / 287) 0;
 }

 .item {
  align-self: flex-start;
}

.blog-cards {
  width: 100%;
}

.blog-card {
  width: 100%;
  height: calc(153px + 27 * (100vw - 480px) / 287);
}

.card-img {
  width: 50%;
  height: 100%;
}

.card-content {
  width: 45.65%;
  padding-left: 20px;
}

.card-title {
  width: 100%;
}

.card-caption {
  font-size: 22px;
} 

.know-more {
  height: 100%;
  padding: 50px 0;
}

.tea-background {
  display: none;
}

.know-content, .know-container {
  gap: calc(30px + 30 * (100vw - 480px) / 287);
}

.know-text {
  width: 100%;
  font-size: calc(13px + 7 * (100vw - 480px) / 287);
  line-height: calc(17.7px + 12.3 * (100vw - 480px) / 287);
}

.know-form {
  width: 100%;
}

.check {
  width: 100%;
}

.label-text {
  font-size: 12.6px;
}

.priorities {
  padding: calc(60px + 60 * (100vw - 480px) / 287) 0;
}

.priorities-content {
  gap: calc(30px + 30 * (100vw - 480px) / 287);
}

.priorities-container {
  gap: 50px;
}

.fig-part, .footer-content {
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.footer-content {
  justify-content: center;

}

.footer-left {
  margin-bottom: 0;
}

.footer-right, 
.footer-right01,
.ftr-quote,
.quote-sign {
  width: 100%;
}

.ftr-quote {
  gap: 10px;
}

.quote-style {
  font-size: 17px;
}

.footer-right02 {
  width: 100%;
  gap: 20px;
}

.list-caption {
  margin: 0 auto;
}

.request-text {
  text-align: center;
}

.our-contacts {
  margin: 0 auto 50px;

}

.social {
  display: none;
}

.social-480 {
  display: flex;
  width: 150px;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.pay-sistems {
  width: calc(427px - 122 * (100vw - 480px) / 287);
}

}

